main {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(149, 170, 155);
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  padding-bottom: 15px;
}

nav {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}

nav div {
  margin: 20px;
  color: beige;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-display: Georgia;
  font-size: 32px;
}

section {
  display: flex;
}

main class {
  background-color: white;
  color: black;
  font-size: 12px;
}

img {
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
  max-height: 80%;
}

footer {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: black;
  color: beige;
  justify-content: space-between;
}

.footer-text {
  text-align: center;
  font-size: 18px;
  color: beige;
}

.flex-ctr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-display: Georgia;
  font-weight: bold;
  text-align: left;
  font-size: 24px;
  color: black;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-display: Georgia;
  font-weight: normal;
  text-align: left;
  font-size: 18px;
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-display: Georgia;
  font-weight: normal;
  text-align: left;
  font-size: 16px;
}

nav,
footer {
  grid-column: span 2;
}
