body {
  margin: 0;
  box-sizing: border-box;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 60px 1fr 90px;
}

nav {
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: purple;
  justify-content: space-around;
  align-items: start;
}

nav div {
  font-size: 25px;
  margin: 40px;
  color: beige;
}
